<!-- CONTENT -->
<div id="content" class="relative bg-white py-16 sm:py-24">
  <div
    class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start"
  >
    <div class="relative sm:py-16 lg:py-0">
      <div
        class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0 lg:max-w-none lg:py-20"
      >
        <!-- Testimonial card-->
          <div class="relative pt-64 pb-10 rounded-2xl shadow-xl">
            <img
              class="absolute inset-0 h-auto w-full object-cover rounded-2xl"
              src="/images/worker.jpg"
              alt=""
            />
          </div>

      </div>
    </div>

    <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
      <!-- Content area -->
      <div class="pt-12 sm:pt-16 lg:pt-20">
        <h2 class="leading-6 text-green-500 font-semibold tracking-wide uppercase">Calisol</h2>
        <h2
          class="text-3xl text-gray-900 font-extrabold tracking-tight sm:text-4xl"
        >
          Qui sommes nous?
        </h2>
        <div class="mt-6 text-gray-500 space-y-6">
          <p class="text-lg">
            La société CALISOL à été fondée en 2014 par Monsieur DJELLALI.<br />
            Le siège social se trouve à SORBIERS dans la Loire (42)<br />
          </p>
          <p class="text-base leading-7">
            Notre société vous accompagne dans l’ensemble de vos projets en neuf, comme en rénovation.
          </p>
          <p class="text-base leading-7">
            Notre entreprise met à votre service 20 ans d’éxperience en réalisant un travail de qualité,
            pour le calorifugeage des réseaux aérauliques et hydrauliques (thermique/frigorifique/phonique)
            de vos installations :
          </p>
          <ul role="list">
            <li>Chaufferie</li>
            <li>Tuyauterie</li>
            <li>Gaine de ventilation</li>
            <li>Réseaux d’eau glacée</li>
            <li>Appareillage</li>
          </ul>
          <p class="text-base leading-7">
            La société intervient en région Auvergne Rhône Alpes et sur l’ensemble du territoire national.<br />
            Qualité d’éxécution, réactivité sont le lot de notre entreprise. Satisfaire vos demandes est le
            quotidien de nos équipes.
          </p>
        </div>
      </div>

      <!-- Stats section -->
      <div class="mt-10">
        <dl class="grid grid-cols-2 gap-x-4 gap-y-8">
          <div class="border-t-2 border-gray-100 pt-6">
            <dt class="text-base font-medium text-gray-500">Création</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
              2014
            </dd>
          </div>

          <div class="border-t-2 border-gray-100 pt-6">
            <dt class="text-base font-medium text-gray-500">Employés</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
              10
            </dd>
          </div>

          <div class="border-t-2 border-gray-100 pt-6">
            <dt class="text-base font-medium text-gray-500">Expérience</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
              20 ans
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
