<div class="bg-white">
  <div
    class="max-w-2xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8"
  >
    <div class="grid items-center grid-cols-1 gap-y-16 gap-x-8 lg:grid-cols-2">
      <div>
        <div class="border-b border-gray-200 pb-10">
          <h2
            class="text-base text-indigo-600 font-semibold tracking-wide uppercase"
          >
            Notre savoir faire
          </h2>
          <h3
            class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
          >
            Un engagement de qualite
          </h3>
        </div>

        <dl class="mt-10 space-y-10">
          <div>
            <dt class="text-sm font-medium text-gray-900">Sleek design</dt>
            <dd class="mt-3 text-sm text-gray-500">
              Nous déployons une offre de travaux éligibles aux dispositifs des
              C.E.E à tous les secteurs économiques propriétaires de leur
              patrimoine (Hôpitaux, collectivités, écoles..). Ainsi que les
              acteurs du logement social.
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-900">Comfort handle</dt>
            <dd class="mt-3 text-sm text-gray-500">
              Notre savoir faire est aussi à votre service dans les secteurs :
              industriel, agroalimentaire, pharmaceutique et résidenciel. Nous
              intervenons pour des travaux d’isolation, de calorifugeage
              thermique et frigorifique (de -100° à +1200°)
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-900">
              One-button control
            </dt>
            <dd class="mt-3 text-sm text-gray-500">
              <ol role="list">
                <li>Isolation des planchers bas et vides sanitaire</li>
                <li>
                  Isolation d’un réseau hydraulique de chauffage / ECS
                  (calorifuge PVC et/ou ALU
                </li>
                <li>Isolation des combles perdus (déroulé et/ou soufflé)</li>
                <li>
                  Isolation des points singuliers en chaufferie (matelas isolant
                  les vannes et robinetteries)
                </li>
              </ol>
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-900">Long spout</dt>
            <dd class="mt-3 text-sm text-gray-500">
              <ol role="list">
                <li>Respect du planning.</li>
                <li>Respect des procédures réglementaires d’intervention.</li>
                <li>Respect des règles d’hygiène et de sécurité.</li>
                <li>
                  Mise en oeuvre des moyens matériels et humains nécessaire à
                  une réalisation en toute sécurité.
                </li>
                <li>Disponibilité permanente durant la période de travaux.</li>
                <li>
                  Vérification des travaux réalisés par un bureau de contrôle
                  indépendant agréé.
                </li>
              </ol>
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-900">Long spout</dt>
            <dd class="mt-3 text-sm text-gray-500">
              Qualité, Contrôle, Transparence. Une offre clef en main Le montage
              des dossiers. La coordination et la réalisation des travaux. Le
              financement intégral des opérations. Dans certain cas, une
              réversion de l’excédent de la prime.
            </dd>
          </div>
        </dl>
      </div>

      <div>
        <div
          class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden"
        >
          <img
            src="/images/rea.JPG"
            alt="Black kettle with long pour spot and angled body on marble counter next to coffee mug and pour-over system."
            class="w-full h-full object-center object-cover"
          />
        </div>
        <div
          class="grid grid-cols-2 gap-4 mt-4 sm:gap-6 sm:mt-6 lg:gap-8 lg:mt-8"
        >
          <div
            class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden"
          >
            <img
              src="/images/rea3.JPG"
              alt="Detail of temperature setting button on kettle bass with digital degree readout."
              class="w-full h-full object-center object-cover"
            />
          </div>
          <div
            class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden"
          >
            <img
              src="/images/rea4.JPG"
              alt="Kettle spout pouring boiling water into coffee grounds in pour-over mug."
              class="w-full h-full object-center object-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
