<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white pt-16 pb-32 overflow-hidden">
    <div class="relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
                <div>
                    <div class="mt-6">
                        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                            ENSEMBLE DU PATRIMOINE OPH DE FIRMINY ET GIERS PILAT HABITAT
                        </h2>
                        <p class="mt-4 text-lg text-gray-500">
                            -> Isolation d’un réseau hydraulique de chauffage/ECS<br/>
                            -> Isolation des combles perdus<br/>
                            -> Isolation des points singuliers en chaufferie<br/>
                            (matelas isolant les vannes et robinetteries)
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
                    <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                         src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg"
                         alt="Inbox user interface">
                </div>
            </div>
        </div>
    </div>
    <div class="mt-24">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
                <div>
                    <div class="mt-6">
                        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                            SKID + RESEAU FROID SUR GROUPE BARBIER CHAVANON
                        </h2>
                        <p class="mt-4 text-lg text-gray-500">
                            -> Isolation d’un réseau hydraulique d’eau grycolée en PU et armaflex basse temperature
                            revêtue tôle aluminium.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
                <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
                    <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
                         src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg"
                         alt="Customer profile user interface">
                </div>
            </div>
        </div>
    </div>
</div>
