---
layout: base.html
title: Home
---

<div class="flex flex-col h-screen">
  {% include "./_includes/nav.html" %}
  <main id="main" class="flex-1 overflow-y-auto">
    <div>{% include "./_includes/hero.html" %}</div>
    <div>{% include "./_includes/content.html" %}</div>
    <div>{% include "./_includes/features.html" %}</div>
    <div>{% include "./_includes/examples.html" %}</div>
    <div>{% include "./_includes/logos.html" %}</div>
    <div>{% include "./_includes/contact.html" %}</div>
    <div>{% include "./_includes/footer.html" %}</div>
  </main>
</div>
